.container {
  height: 100%;
  overflow: hidden;
  background-color: #f3f3f3;
}

.sub-container {
  height: calc(100% - 100px);
  overflow: auto;
  margin-top: 32px;
}

.header {
  height: 68px;
  background-color: white;
}

.tableRow:hover {
  cursor: pointer;
}
